__pycache__
tradier_token.txt
test.csv
return_table_modified.csv
return_table.csv
VAR(VCA).jpg
US_EQUITY_input.csv
US_EQUITY_price_table.csv
.vscode
normality check charts
VAR(HSA-simple).jpg
VAR(MCS).jpg
test.py
varcvar_dollar.csv
varcvar.csv
personal.json
output
